.app-container {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.note-browser-container {
  position: relative;
  top: 1em;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
